@{
    ViewBag.Title = "DatabaseError";
}

@*<h2>DatabaseError</h2>*@

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">You haven't AnnualDays or OverTime.</h2>
</hgroup>
