@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/LayoutNotLogin.cshtml";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p class="warning">
                Please connection system administrator!
            </p>
        </div>
    </section>
}


