div#traineeBreakOff, div#traineeBreakOffMan {
    margin-top:25px;
}

div#CreateDialog #tbfInfo .form-group {
    margin-left: 130px;
}

div#traineeBreakOff table td a {
    margin-right: 4px;
}

#content {
     width: 400px;
     height: 200px; 
     max-height: 300px; 
     max-width: 500px; 
}
